fastapi
uvicorn[standard]
sqlmodel
transformers
torch
pydantic>=2.0
python-multipart
gunicorn
# Google Calendar integration
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
google-generativeai

python-dotenv

